/* Reset */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "NunitoSans";
    src: url("../asstes/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

@font-face {
    font-family: "Americana Font";
    src: url("/asstes/Americana Font Regular/Americana Font Regular.otf");
}

body {
    font-family: var(--font-family-body);
}

/* page-width */
.page-width {
    padding: 0px 130px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.padding-top-bottom {
    padding: 80px 0px;
}


/* anchor-tag */
a {
    display: inline-block;
    color: inherit;
}

/* grid */
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.grid-col-6-desktop .grid-items {
    max-width: calc(16.7% - 0px);
    width: calc(16.6% - 0px);
}

.grid-col-4-desktop .grid-items {
    max-width: calc(25% - 20px);
    width: calc(25% - 20px);
}

.grid-col-3-desktop .grid-items {
    max-width: calc(33.3% - 20px);
    width: calc(33% - 20px);
}

.grid-col-2-desktop .grid-items {
    max-width: calc(50% - 20px);
    width: calc(50% - 20px);
}

.flex {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
}

.text-middle {
    font-family: 'NunitoSans';
    font-weight: var(--font-weight-body);
    font-style: var(--font-style-body);
    font-size: 14px;
    line-height: var(--line-height);
    letter-spacing: 0;
    text-align: center;
    color: var(--text-color-body);
}

.width-set {
    width: 95%;
}

/* basic-root*/
/* heading */
:root {
    --font-weight-heading: 600;
    --line-height-heading: 1.2em;
    --font-family-heading: 'Americana Font';
    --line-height: 100%;
}

/* body */
:root {
    --font-weight-body: 400;
    --font-style-body: Regular;
    --line-height-body: 1.8em;
    --letter-spacing-body: 0;
    --font-family-body: "NunitoSans";
    --text-color-body: rgba(255, 255, 255, 1);
}

/* background-color */
:root {
    --background-color-primary: rgba(38, 163, 219, 1);
    --background-color-secondary: rgba(233, 246, 251, 1);
    --font-weight-btn: 500;
    --font-style-btn: medium;
}

/* heading */
h5,
.h5 {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-btn);
    font-style: var(--font-style-body);
    font-size: 20px;
    line-height: var(--line-height);
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0;
}

h3,
.h3 {
    font-family: 'Americana Font';
    font-weight: var(--font-weight-btn);
    font-style: var(--font-style-body);
    font-size: 36px;
}

h6,
.h6 {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-btn);
    font-style: var(--font-style-body);
    font-size: 18px;
    line-height: var(--line-height-body);
    letter-spacing: 0;
    text-align: center;
}

.text-style {
    font-size: 16px;
    font-family: var(--font-body-family);
    font-style: var(--font-style);
    line-height: 26px;
    letter-spacing: var(--letter-spacing-body);
    font-weight: var(--font-weight-body);
    color: var(--text-color-body);
}

.primary-button {
    font-family: var(--font-body-family);
    font-weight: var(--font-weight-btn);
    font-style: var(--font-style-btn);
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: 0;
    text-transform: capitalize;
    opacity: 1;
    padding: 14px 36px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--background-color-primary);
}

.secondary-button {
    font-family: var(--font-body-family);
    font-weight: var(--font-weight-btn);
    font-style: var(--font-style-btn);
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: 0;
    text-transform: capitalize;
    opacity: 1;
    padding: 14px 36px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--text-color-body);
    color: balck;
}

.button-underline {
    outline: none;
    cursor: pointer;
    border: none;
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-btn);
    font-style: var(--font-style-btn);
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: 0;
    text-transform: capitalize;
    opacity: 1;
    padding: 10px 18px;
    border-bottom: 1px solid black;
    background-color: transparent;
}

/* Announcement-bar */
.announcement-bar-wrapper {
    background-color: var(--background-color-primary);
    position: relative;
    z-index: 10;
}

.announcement-bar-inner {
    padding: 10px;

}

/* header */
li {
    list-style: none;
}

.header-section {
    position: relative;
    z-index: 10;
    top: 15px;
    background: transparent;
}

.header-heading-logo-wrapper {
    aspect-ratio: 2.06/1;
    max-width: 103px;
    max-height: 50px;
    width: 100%;
    height: 100%;
}

ul.list-menu--inline {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-icons-inner {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.header-heading-logo {
    display: flex;
    align-items: center;
}

.header.header-inner-grid {
    display: grid;
    grid-template-columns: 40% 7% 40%;
    justify-content: space-between;
    align-items: center;
}

.header-icons-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}


/* Banner*/
.banner-wrapper {
    position: relative;
    top: -50px;
    color: var(--text-color-body);
}

.banner-content {
    position: absolute;
    top: 38%;
}

.banner-image {
    aspect-ratio: 1/0.4;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

.banner-heading h3 {
    max-width: 410px;
}

.banner-heading {
    gap: 10px;
}

.banner-content-inner {
    gap: 30px;
}

/* icons-with-text */
.icons-section-wrapper {
    background-color: var(--background-color-secondary);
    position: relative;
    padding: 20px 0px;
    top: -50px;
}

ul.icons-with-text-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.icons-image {
    display: flex;
    justify-content: center;
}

li.icons-with-text-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.drawer {
    color: white;
    font-size: 30px;
    display: none;
}

/* footer */
.footer-logo {
    max-width: 124px;
    max-height: 60px;
}

.footer-wrapper {
    background-color: var(--background-color-primary);
    color: var(--text-color-body);
    border-bottom: 2px solid white;
}


.footer-icons-content {
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

ul.grid-items.footer-menu.flex {
    gap: 20px;
}

ul.footer-menu--inner.flex {
    gap: 10px;
}

.footer-heading.flex {
    align-items: flex-start;
}

.side-icon-with-para-container.flex {
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* input */
.input-content {
    border: 1px solid var(--text-color-body);
    border-radius: 5px;
}

::placeholder {
    color: var(--text-decoration-color);
}

#email-input {
    outline: none;
    width: 100%;
    border: none;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--font-body-family);
    font-style: var(--font-style);
    font-weight: var(--font-body-weight);
    letter-spacing: 0em;
    line-height: 1em;
    background: transparent;
    color: var(--text-color-body);
}

#select {
    outline: 2px solid white;
    /* width: 100%; */
    border: none;
    padding: 14px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--font-body-family);
    font-style: var(--font-style);
    font-weight: var(--font-body-weight);
    letter-spacing: 0em;
    line-height: 1em;
    background: transparent;
    color: var(--text-color-body);
}

.disclamer-wrapper {
    background-color: var(--background-color-primary);
}

.disclamer-wrapper-inner {
    padding: 40px 0px;
}

ul.disclamer-menu.flex {
    gap: 20px;
}

.disclamer-wrapper-inner.flex {
    flex-direction: row;
    justify-content: space-between;
}

ul.disclamer-menu--inner {
    flex-direction: row;
    gap: 10px;
}

.disclamer-text.flex {
    flex-direction: row;
    gap: 20px;
}

.disclamer-container.flex {
    gap: 10px;
}

/* footer-icons-with-text */
.footer-icons-section-wrapper {
    background-color: var(--background-color-secondary);
    position: relative;
    padding: 20px 0px;

}

/* categories-section*/
.category-image {
    max-width: 312px;
    max-height: 500px;
    position: relative;

}

.category-wrapper-inner.padding-top-bottom.flex {
    gap: 40px;
    align-items: center;
    padding: 30px 0px 80px 0px;
    position: relative;
}

.category-container {
    position: relative;
    align-items: center;
}

.category-content.flex {
    gap: 10px;
    align-items: center;
    position: absolute;
    bottom: 4%;
}

.category-heading {
    display: flex;
    justify-content: center;
    padding: 0px 0px 50px 0px;
}